body {
  background-color: aliceblue;

  column-gap: 90px;

}



.The-info {
  font-size: 40px;
  font-weight: 600;

  line-height: 137%;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.The-info-detail {
  width: 351px;
  height: 181;
  border-radius: 8px;
}

.section-two {
  text-align: center;
  color: darkgreen;
  font-size: 50px;
}

.edit {
  font-size: 50px;
  text-align: center;
}

li {
  list-style: none;
  float: left;
  width: 60px;
  column-gap: 50px;
}

.flex {
  display: flex;
  column-gap: 300px;

  overflow: auto;
  height: auto;
  width: auto;
}