body {
  background-color: rgb(194, 190, 190);
  margin: 0 20% 0 20%;
}

h1 {
  color: gray;
}

p {
  color: rgb(13, 20, 20);
}

.The-info {
  font-size: 40px;
  font-weight: 600;
  text-align: center;


}