body {
  background-color: aliceblue;
  margin: 0 20% 0 20%;
}

h1 {
  color: gray;
}

p {
  color: rgb(13, 20, 20);
}


.The-info {
  font-size: 40px;
  font-weight: 600;

  line-height: 137%;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.The-info-detail {
  width: 351px;
  height: 181;
  border-radius: 8px;
}